<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfxmcy.spouse.dao.SMFavoriteMapper" >
  <resultMap id="BaseResultMap" type="com.xfxmcy.spouse.vo.SMFavorite" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="memoFirst" property="memofirst" jdbcType="VARCHAR" />
    <result column="memoSecond" property="memosecond" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, description, pid, title, memoFirst, memoSecond, createTime, seq,creater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sm_favorite
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.HashMap" >
    delete from sm_favorite
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xfxmcy.spouse.vo.SMFavorite" >
    insert into sm_favorite (id, url, description, 
      pid, title, memoFirst, 
      memoSecond, createTime, seq,creater
      )
    values (#{id,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{memofirst,jdbcType=VARCHAR}, 
      #{memosecond,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{seq,jdbcType=VARCHAR}
      , #{creater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xfxmcy.spouse.vo.SMFavorite" >
    insert into sm_favorite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="memofirst != null" >
        memoFirst,
      </if>
      <if test="memosecond != null" >
        memoSecond,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="creater != null" >
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="memofirst != null" >
        #{memofirst,jdbcType=VARCHAR},
      </if>
      <if test="memosecond != null" >
        #{memosecond,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfxmcy.spouse.vo.SMFavorite" >
    update sm_favorite
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="memofirst != null" >
        memoFirst = #{memofirst,jdbcType=VARCHAR},
      </if>
      <if test="memosecond != null" >
        memoSecond = #{memosecond,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfxmcy.spouse.vo.SMFavorite" >
    update sm_favorite
    set url = #{url,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      memoFirst = #{memofirst,jdbcType=VARCHAR},
      memoSecond = #{memosecond,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      seq = #{seq,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- query favorite treegrid -->
   <select id="queryFavoritePaged" resultMap="BaseResultMap" parameterType="com.xfxmcy.spouse.model.QueryParam" >
    select 
    <include refid="Base_Column_List" />
    from sm_favorite
    <where>
    	 <if test="likeNameFirst != null" >
    	  	title like #{likeNameFirst,jdbcType=VARCHAR} and
    	 </if>
    	 <if test="owner != null">
    	  	creater = #{owner,jdbcType=VARCHAR} 
    	 </if>
    	 <if test="beginDate != null">
    	  	createTime > #{beginDate,jdbcType=TIMESTAMP} and
    	 </if>
    	  <if test="endDate != null">
    	  	 #{endDate,jdbcType=TIMESTAMP} > createTime  and  
    	 </if>
    	  <if test="treeRootId != null">
    	  	pid = #{treeRootId,jdbcType=VARCHAR} 
    	 </if>
    </where>
    order by seq
    <if test="page != null">
			limit #{startPoint},#{rows}
	</if>
			
  </select>
  <!-- query the count -->
  <select id="queryTotalFavorite" resultType="java.lang.Long" parameterType="com.xfxmcy.spouse.model.QueryParam" >
		select count(*) from sm_favorite
	<where>
    	
    	  <if test="likeNameFirst != null">
    	  	title like #{likeNameFirst,jdbcType=VARCHAR} and
    	 </if>
    	 <if test="owner != null">
    	  	creater = #{owner,jdbcType=VARCHAR} 
    	 </if>
    
    	  <if test="treeRootId != null">
    	  	pid = #{treeRootId,jdbcType=VARCHAR} 
    	 </if>
    </where>
  </select>
  <!-- query the queryMaxSeq -->
  <select id="queryMaxSeq" resultType="java.lang.Long" parameterType="java.util.HashMap" >
		select MAX(seq) from sm_favorite where pid = #{pid,jdbcType=VARCHAR}
  </select>
</mapper>