<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfxmcy.spouse.dao.SMPhotoMapper" >
  <resultMap id="BaseResultMap" type="com.xfxmcy.spouse.vo.SMPhoto" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="album_id" property="albumId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="memoFirst" property="memofirst" jdbcType="VARCHAR" />
    <result column="memoSecond" property="memosecond" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, album_id, title, memoFirst, memoSecond, createTime, author_id,flag,seq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sm_photo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sm_photo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xfxmcy.spouse.vo.SMPhoto" >
    insert into sm_photo (id, url, album_id, 
      title, memoFirst, memoSecond, 
      createTime, author_id,flag,seq)
    values (#{id,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{albumId,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{memofirst,jdbcType=VARCHAR}, #{memosecond,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{authorId,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR},#{seq,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xfxmcy.spouse.vo.SMPhoto" >
    insert into sm_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="memofirst != null" >
        memoFirst,
      </if>
      <if test="memosecond != null" >
        memoSecond,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="seq != null" >
        seq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="memofirst != null" >
        #{memofirst,jdbcType=VARCHAR},
      </if>
      <if test="memosecond != null" >
        #{memosecond,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfxmcy.spouse.vo.SMPhoto" >
    update sm_photo
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="memofirst != null" >
        memoFirst = #{memofirst,jdbcType=VARCHAR},
      </if>
      <if test="memosecond != null" >
        memoSecond = #{memosecond,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfxmcy.spouse.vo.SMPhoto" >
    update sm_photo
    set url = #{url,jdbcType=VARCHAR},
      album_id = #{albumId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      memoFirst = #{memofirst,jdbcType=VARCHAR},
      memoSecond = #{memosecond,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- select photoes -->
  <select id="selectPhotosBySelective"  resultMap="BaseResultMap" parameterType="com.xfxmcy.spouse.model.QueryParam" >
    select 
    <include refid="Base_Column_List" />
    from sm_photo
    where id = #{id,jdbcType=VARCHAR}
   </select> 
    
  <!-- select photoes By Page -->
  <select id="selectPhotosBySelectivePages"  resultMap="BaseResultMap" parameterType="com.xfxmcy.spouse.model.QueryParam" >
    select 
    <include refid="Base_Column_List" />
    from sm_photo
    <where>  
    	<if test="memoSecond">
    		memoSecond = #{memoSecond,jdbcType=VARCHAR} 
    	</if>
    	<if test="authorId">
    		author_id = #{authorId,jdbcType=VARCHAR} 
    	</if>
    	
    </where>
    <if test="page != null">
			limit #{startPoint},#{rows}
	</if>
  </select>
  <!-- do query my photo -->
  <select id="doQueryMyPhoto"  resultMap="BaseResultMap" parameterType="com.xfxmcy.spouse.model.QueryParam" >
    select 
    <include refid="Base_Column_List" />
    from sm_photo
    <where>  
    	<if test="owner">
    		author_id = #{owner,jdbcType=VARCHAR} 
    	</if>
    </where>
			order by seq desc
			
	<if test="page != null">
			limit #{startPoint},#{rows}
	</if>		
			
  </select>
  <!-- query the count  for my photo   -->
  <select id="doQueryTotalMyPhoto" resultType="java.lang.Long" parameterType="com.xfxmcy.spouse.model.QueryParam" >
	select 
    	count(*)
    from sm_photo
    <where>  
    	<if test="owner">
    		author_id = #{owner,jdbcType=VARCHAR} 
    	</if>
    	
    </where>
  </select>
  
  <!-- do query his photo -->
  <select id="doQueryHisPhoto"  resultMap="BaseResultMap" parameterType="com.xfxmcy.spouse.model.QueryParam" >
    select 
    <include refid="Base_Column_List" />
    from sm_photo
    <where>  
    	<if test="owner">
    		author_id != #{owner,jdbcType=VARCHAR} 
    	</if>
    </where>
			order by seq desc
			
	<if test="page != null">
			limit #{startPoint},#{rows}
	</if>		
			
  </select>
  <!-- query the count  for his photo   -->
  <select id="doQueryTotalHisPhoto" resultType="java.lang.Long" parameterType="com.xfxmcy.spouse.model.QueryParam" >
	select 
    	count(*)
    from sm_photo
    <where>  
    	<if test="owner">
    		author_id != #{owner,jdbcType=VARCHAR} 
    	</if>
    	
    </where>
  </select>
  <!-- to Up -->
  <update id="topByPrimaryKey" parameterType="com.xfxmcy.spouse.model.QueryParam">
    UPDATE sm_photo
	SET seq = (
		SELECT
			tm.sq
		FROM
			(
				SELECT
					max(sm.seq + 1) AS sq
				FROM
					sm_photo sm
					 <where>  
				    	<if test="owner">
				    		sm.author_id != #{owner,jdbcType=VARCHAR} 
				    	</if>
				    	
				    </where>
				
			) tm
	)
	 <where>  
    	<if test="id">
    		id = #{id,jdbcType=VARCHAR} 
    	</if>
    </where>
  </update>
  
  
  <!-- query the queryMaxSeq -->
  <select id="doQueryMyMaxSeq" resultType="java.lang.Long" parameterType="com.xfxmcy.spouse.vo.SMPhoto" >
		select MAX(seq) from sm_photo 
		<where>  
    		<if test="authorId">
    			author_id = #{authorId,jdbcType=VARCHAR} 
    		</if>
    	</where>
  </select>
</mapper>