<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfxmcy.spouse.dao.STTaskMapper">
	<resultMap id="BaseResultMap" type="com.xfxmcy.spouse.vo.Tasks">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="allDay" property="allday" jdbcType="CHAR" />
		<result column="tstart" property="start" jdbcType="TIMESTAMP" />
		<result column="tend" property="end" jdbcType="TIMESTAMP" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="business_id" property="businessId" jdbcType="VARCHAR" />
		<result column="task_from" property="taskFrom" jdbcType="VARCHAR" />
		<result column="task_status" property="taskStatus" jdbcType="CHAR" />
		<result column="flag" property="flag" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
	</resultMap>

	
	<sql id="Base_Column_List">
		id, title, allDay, tstart, tend, url,userid,business_id,task_from,task_status,flag,status
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sr_romantic
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<!-- do Query -->
	<select id="selectByCondition" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from b_tasks 
		<where>
			<if test="title != null">
				title like '%$title$%'
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR}
			</if>
			<if test="taskStatus != null">
				task_status = #{taskStatus,jdbcType=VARCHAR}
			</if>
			 <![CDATA[
			    and 
			    
			    tstart >= #{start,jdbcType=TIMESTAMP}
			    
			    and
			    (tend <= #{end,jdbcType=TIMESTAMP} or (tend is null AND tstart <= #{end,jdbcType=TIMESTAMP}))
			    ]]>
			    and
			    flag = '1' 
			    and 
			    status = '1'
		</where>
		
		order by tstart
		
	</select>
	
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from b_tasks 
		<where>
			id = #{id,jdbcType=VARCHAR}
		</where>
	</select>	
	<!-- query the count -->
	<select id="countByCondition" resultType="java.lang.Long"
		parameterType="java.util.HashMap">
		select count(*) from b_tasks
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from b_tasks
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	
	<insert id="insert" parameterType="com.xfxmcy.spouse.vo.Tasks">
		insert into sr_romantic (id, date, dateClass,
		imageFirst, imageSecond, isYear,
		title, contentFirst, contentSecond
		)
		values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR},
		#{dateclass,jdbcType=VARCHAR},
		#{imagefirst,jdbcType=VARCHAR}, #{imagesecond,jdbcType=VARCHAR}, #{isyear,jdbcType=CHAR},
		#{title,jdbcType=LONGVARCHAR}, #{contentfirst,jdbcType=LONGVARCHAR},
		#{contentsecond,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xfxmcy.spouse.vo.Tasks">
		insert into b_tasks
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="allday != null">
				allDay,
			</if>
			<if test="start != null">
				tstart,
			</if>
			<if test="end != null">
				tend,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="businessId != null">
				business_id,
			</if>
			<if test="taskFrom != null">
				task_from,
			</if>
			<if test="taskStatus != null">
				task_status,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="status != null">
				status
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="allday != null">
				#{allday,jdbcType=VARCHAR},
			</if>
			<if test="start != null">
				#{start,jdbcType=TIMESTAMP},
			</if>
			<if test="end != null">
				#{end,jdbcType=TIMESTAMP},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="businessId != null">
				#{businessId,jdbcType=VARCHAR},
			</if>
			<if test="taskFrom != null">
				#{taskFrom,jdbcType=VARCHAR},
			</if>
			<if test="taskStatus != null">
				#{taskStatus,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateSelective" parameterType="com.xfxmcy.spouse.vo.Tasks">
		update b_tasks
		<set>
			<if test="start != null">
				tstart = #{start,jdbcType=VARCHAR},
			</if>
			<if test="end != null">
				tend = #{end,jdbcType=VARCHAR},
			</if>
			<if test="taskFrom != null">
				task_from = #{taskFrom,jdbcType=VARCHAR},
			</if>
			<if test="taskStatus != null">
				task_status = #{taskStatus,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="businessId != null">
				business_id = #{businessId,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="allday != null">
				allDay = #{allday,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>