ul,li{ list-style-type:none;}

/*左树区域*/
#left{float:left; margin:0; padding:0; height:auto; background:#f5f5f5; border:1px solid #e9e9e9;}

.left-sidebar{width:auto;line-height:33px;}
.left-sidebar .left-nav-container{-webkit-transform:translateZ(0)}
.left-sidebar .product-menu-1{width:207px;border-bottom:1px dashed #E1E1E1;padding-bottom:3px;margin-bottom:10px;position:relative}
.left-sidebar .product-menu-1 .current{ background:#fff;}
.left-sidebar .product-menu-1 dt{font-size:14px;line-height:36px;color:#999999;font-weight:normal; padding-left:20px;}
.left-sidebar .product-menu-1 li{position:relative;height:33px}
.left-sidebar .product-menu-1 li i{margin-right:8px; font-style:normal;}
.left-sidebar .product-menu-1 li a{position:absolute;display:block; width:207px;top:0;font-size:14px;color:#000;zoom:1;}
.left-sidebar .product-menu-1 li a:hover{background-color:#44578a;text-decoration:none;cursor:pointer}
.left-sidebar .product-menu-1 li a span:hover{ color:#fff;}
.left-sidebar .product-menu-1 li a .span-1{display:block;float:right;width:170px; color:#424242;}



